services:
- hash: 4b6061f4200a3d18f0aa581cd305bf914ebcead6
  name: launcher-application
  environments:
  - name: production
    parameters:
      CPU_REQUEST: 0.25
      CPU_LIMIT: 1
      MEMORY_REQUEST: 768M
      MEMORY_LIMIT: 2G
      IMAGE: quay.io/openshiftio/rhel-fabric8-launcher-backend
  - name: staging
    parameters:
      CPU_REQUEST: 0.25
      CPU_LIMIT: 1
      MEMORY_REQUEST: 768M
      MEMORY_LIMIT: 2G
      IMAGE: quay.io/openshiftio/rhel-fabric8-launcher-backend
  path: /openshift/template.yaml
  url: https://github.com/fabric8-launcher/launcher-application
  hash_length: 7
